.App {
  text-align: center;
  background-image: url("backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  padding: 20vh 0 0 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: overlay;
}

#formButton {
  margin-top: 5vh;
}

#or {
  color: black;
}

#registerButton {
  margin-top: 1vh;
}

#pageDiv {
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
  padding: 10vh;
  margin: -25vh 0 0 0;
  box-shadow: -2px -1px 15px 8px rgba(50, 50, 50, 0.25);
  border-radius: 5%;
  max-height: 60vh;
  overflow: overlay;
}

#profileInfoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#profileInfoList li {
  font-size: 20px;
}

#profileBookingsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#profileBookingsList li {
  border: 0.1vh solid rgba(0, 0, 0, 0.25);
  border-radius: 2vh;
  padding: 0.3vh 2vh 0.7vh 2vh;
  margin: 2vh 0 0 0;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

#bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bookingCardTypography {
  padding: 5vh 0 0 0;
  font-size: 2.5vh;
  font-weight: bold;
}

#bookingCard {
  margin: 2vh 0 0 0;
}

/* Navbar */

#navbar {
  height: 20vh;
  width: 55vh;
  margin: -100vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding-top: 3vh;
  text-align: inherit;
  position: absolute;
}

#navbarList {
  display: inline;
  margin: 0 1vh -20% 1vh;
}

#navbar h3 {
  display: inline;
  margin: 0 10vh 0 0;
  font-size: 25px;
}

#logoutLink,
#gdprLink,
#logoutLink:visited,
#gdprLink:visited {
  text-decoration: none;
  padding: 1vh 2vh 1vh 2vh;
}

#logoutIcon,
#gdprIcon {
  filter: grayscale(100%);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 2.5vh 0 2.5vh 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5vh;
}

html {
  scroll-behavior: smooth;
}
