.App {
  text-align: center;
  background-color: #292a2e;
  min-height: 80vh;
  padding: 20vh 0 0 0;
  color: black;
}

#formButton {
  margin-top: 5vh;
}

#or {
  color: black;
}

#registerButton {
  margin-top: 1vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282c34;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}
